body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}
.flex-container {
  display: flex;
  flex-direction: column;
}
.flex-container > *:not(.drop) {
  padding: 1rem;
}
a {
  color: white;
}
canvas {
  outline: 1px solid mediumspringgreen;
  cursor: crosshair;
}
.image-filter-container {
  background: grey;
  color: black;
}

.image-filter-controls {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.export-button-container {
  align-self: flex-end;
}