body {
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}
a {
  color: white;
}
canvas {
  outline: 1px solid mediumspringgreen;
  cursor: crosshair;
}
.image-filter-container {
  background: grey;
  color: black;
}

.image-filter-controls {
  display: flex;
  flex-direction: column;
}
